<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= "Sinistereo" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">

    <!-- #end bootstrap head, start sinistereo head info -->
    <link rel="stylesheet" href="zen/style.css">
	<link rel="stylesheet" href="zen/css/zen.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>   
    <script type="text/javascript" src="zen/js/jquery.rotate.js"></script>
    <script type="text/javascript" src="zen/js/jquery.grab.js"></script> 
    <script type="text/javascript" src="zen/js/jquery.jplayer.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){    

        	var status = "stop";
      	var dragging = false;



      	// init

      	var player = $("#zen .player");

      	// player.jPlayer({
      	// 		ready: function () {
      	//       		$(this).jPlayer("setMedia", {
      	// 			mp3: "https://sinistereo.s3.amazonaws.com/uploads/song/audio/328/No_Time_For_Revenge_12.4.mp3" //#"audio/song.mp3",
      	//       		});
      	//     	},
      	//   	});  

      	function playSong(songUrl) {
      		player.jPlayer({
      			ready: function () {
      				$(this).jPlayer("setMedia", {
      					mp3: "" + songUrl
      				});
      			},

      		});
      	};

      	playSong("<%= j(@premium_songs.shuffle.first.audio.url.to_s) %>");




      	// preload, update, end

      	player.bind($.jPlayer.event.progress, function(event) {    

      		var audio = $('#zen audio').get(0);
      		var pc = 0;    

      		if ((audio.buffered != undefined) && (audio.buffered.length != 0)) {
      		 	pc = parseInt(((audio.buffered.end(0) / audio.duration) * 100), 10); 
      		  	displayBuffered(pc);
      		  	//console.log(pc);
      		  	if(pc >= 99) {
      		  		//console.log("loaded");
      		  		$('#zen .buffer').addClass("loaded");
      		  	}  
      		}        

      	});

      	//player.bind($.jPlayer.event.loadeddata, function(event) {    
      		//$('#zen .buffer').addClass("loaded");    
      	//});

      	player.bind($.jPlayer.event.timeupdate, function(event) { 
      		var pc = event.jPlayer.status.currentPercentAbsolute;
      		if (!dragging) { 
      	    	displayProgress(pc);
      		}
      	});
      // BND: we have to change this so when event.ended occurs, it loads the new one.
      	player.bind($.jPlayer.event.ended, function(event) {   
      		$('#zen .circle').removeClass( "rotate" );
      		$("#zen").removeClass( "play" );
      		$('#zen .progress').css({rotate: '0deg'});
      		status = "stop";
      	});


      	// play/pause

      	$("#zen .button").bind('mousedown', function() {
      		// not sure if this can be done in a simpler way.
      		// when you click on the edge of the play button, but button scales down and doesn't drigger the click,
      		// so mouseleave is added to still catch it.
      		$(this).bind('mouseleave', function() {
      			$(this).unbind('mouseleave');
      			onClick();
      		});
      	});

      	$("#zen .button").bind('mouseup', function() {
      		$(this).unbind('mouseleave');
      		onClick();
      	});


      	function onClick() {  		

              if(status != "play") {
      			status = "play";
      			$("#zen").addClass( "play" );
      			player.jPlayer("play");
      		} else {
      			$('#zen .circle').removeClass( "rotate" );
      			$("#zen").removeClass( "play" );
      			status = "pause";
      			player.jPlayer("pause");
      		}
      	};




      	// draggin

      	var clickControl = $('#zen .drag');

      	clickControl.grab({
      		onstart: function(){
      			dragging = true;
      			$('#zen .button').css( "pointer-events", "none" );

      		}, onmove: function(event){
      			var pc = getArcPc(event.position.x, event.position.y);
      			player.jPlayer("playHead", pc).jPlayer("play");
      			displayProgress(pc);

      		}, onfinish: function(event){
      			dragging = false;
      			var pc = getArcPc(event.position.x, event.position.y);
      			player.jPlayer("playHead", pc).jPlayer("play");
      			$('#zen .button').css( "pointer-events", "auto" );
      		}
      	});	






      	// functions

      	function displayProgress(pc) {
      		var degs = pc * 3.6+"deg"; 
      		$('#zen .progress').css({rotate: degs}); 		
      	}
      	function displayBuffered(pc) {
      		var degs = pc * 3.6+"deg"; 
      		$('#zen .buffer').css({rotate: degs}); 		
      	}

      	function getArcPc(pageX, pageY) { 
      		var	self	= clickControl,
      			offset	= self.offset(),
      			x	= pageX - offset.left - self.width()/2,
      			y	= pageY - offset.top - self.height()/2,
      			a	= Math.atan2(y,x);  

      			if (a > -1*Math.PI && a < -0.5*Math.PI) {
      		   a = 2*Math.PI+a; 
      		} 

      		// a is now value between -0.5PI and 1.5PI 
      		// ready to be normalized and applied   			
      		var pc = (a + Math.PI/2) / 2*Math.PI * 10;   

      		return pc;
      	}




      });
    </script>	
  </head>

  <body>

    <script type="text/javascript">
    setSong();
    </script>

        <div class="head-container"> <!-- Header info: logo and sign in -->
          <%= image_tag("sinistereo_logo.png") %>

<!--             <ul class="sign-in-nav">
              <li class="user_links"><%= link_to "Profile", '#'  %></li>
              <li class="user_links"><%= link_to "Sign out", '#'  %></li>
            </ul>
          </div>  nav: signin -->
    </div> <!-- /.container with header info -->

    <div class="container"> <!-- songs container -->
      <div class="content"> <!-- songs content -->
        <div class="row"> <!-- a row for whatever -->
            <div class="span4"> <!-- span for song nav-list of songs -->

              <div class="well sidebar-nav">
                <h3>Premium Blend</h3>
                <ul class="nav nav-list">
                	<li> <%= link_to "Simple Machines: Love This", '#' %> </li>
                	<li> <%= link_to "The Gills: Cramped", '#' %></li>
            	   	<li> <%= link_to "Yes-no-no-Yes: Far Flung", '#' %></li>
	               	<li> <%= link_to "The Dom Drapers: Pill me", '#' %></li>
	               	<li> <%= link_to "Crickets: Stank on it", '#' %></li>
	               	<li> <%= link_to "Glib Lovers: In and Out", '#' %></li>
	               	<li> <%= link_to "Lady Puffins: Thrill on the Bill", '#' %></li>
	               	<li> <%= link_to "Cranky Maids: Clean It Yourself", '#' %></li>
	               	<li> <%= link_to "Trunk Muffins: Numchuck Lovin", '#' %></li>

                </ul>
              </div><!--/.well -->
            </div><!--/span 4 end-->
            
			<div class="span4"> <!-- span for song nav-list player -->
              <div class="sidebar-nav-player">

                <div id="zen">
                    <span class="player"></span>
                    <span class="circle"></span>
                    <span class="progress"></span>
                    <span class="buffer"></span>
                    <span class="drag"></span>
                    <div class="button">
                        <span class="icon play"></span>
                        <span class="icon pause"></span>
                    </div>	
                </div>

              </div><!--/.well sidebar-nav -->
            </div><!--/span for nav-list player-->


            <div class="span4">
              <div class="well sidebar-nav">
				<h3> You're currently listening to </h3>	
                <h3> <%= link_to "simplemachinesband", "http://simplemachinesband.bandcamp.com" %> </h3>
                <ul class="nav nav-list">
                  <li class="nav-header">Members</li>
                  <li> <%= link_to "Patrick Westley: vocals, keys", '#' %> </li>                                        
                  <li> <%= link_to "Connor Lynch: bass", '#' %></li>
                  <li> <%= link_to "Samir Merchant: guitars", '#' %></li>
                  <li> <%= link_to "Hank Keaton: drums", '#' %> </li>
                </ul>
              </div><!--/.well -->
        </div><!--/span-->



        </div><!--/row-->
      </div><!--/content-->

        <div class="row">
            <div class="span4">
              <div class="well sidebar-nav">
                <h3>Current Band</h3>
                <ul class="nav nav-list">
                  <li class="nav-header">Other Songs by Simple Machines</li>
                  <li>  <%= link_to "All the Voices", '#' %></li>
                  <li>  <%= link_to "Every Time I Wait", '#' %> </li>
                  <li>  <%= link_to "No Time for Revenge", '#' %> </li>
                  <li>  <%= link_to "Seven Seas", '#' %> </li>
                  <li>  <%= link_to "Jagged Edge", '#' %> </li>
                  <li>  <%= link_to "Peaches Not Leeches", '#' %> </li>
                  <li>  <%= link_to "Pimp Juice", '#' %> </li>
                </ul>
              </div><!--/.well -->
            </div><!--/span-->
            <div class="span4">
              <div class="well sidebar-nav">
                <h3> Band Profile</h3>
                <ul class="nav nav-list">
                  <p> 
Simple Machine was formed in Chicago in 2009 and has been hard at work writing original music ever since. They would describe their style as alternative Brit-rock with a catchy pop flavour. Their first EP, Spirit of the Shoreland, was launched on the 4th of December. No band member has overdosed yet.  The band considers tax evasion "a fun hobby and a victimless crime."
                   </p>
              </div><!--/.well -->
            </div><!--/span-->

        <div class="span4">
          <div class="well sidebar-nav">
            <h3>Upcoming Concerts </h3>
            <ul class="nav nav-list">
              <li class="nav-header">Chicago Venues</li>
              <li> <%= link_to "Empty Bottle: June 22", '#' %></li>
              <li> <%= link_to "Hideout: June 29", '#' %></li>
              <li> <%= link_to "Hideout: June 30", '#' %> </li>
              <li> <%= link_to "Shubas: July 4", '#' %> </li>
              <li> <%= link_to "House of Blues: July 6", '#' %> </li>
              <li> <%= link_to "House of Blues: July 7", '#' %></li>
              <li> <%= link_to "Kalamari's: July 14", '#' %> </li>
            </ul>
          </div><!--/.well -->

        </div><!--/span-->


    </div> <!-- /container -->

  </body>
</html>
